@font-face {
  font-family: 'WizardWorld';
  src: url('./Fonts/WizardWorldSimplified-Kxr7.ttf') format('truetype');
}

body {
  font-family: 'WizardWorld';
}

.first-text {
    font-family: 'WizardWorld';
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(39,39,64);
}